/* You can add global styles to this file, and also import other style files */
canvas {
  position: absolute;
  top: 0;
  left: 0;
}
body {
  margin: 0;
  padding: 0;
}
video {
  position: absolute;
  top: -10px;
  left: 0;
}
img {
  position: absolute;
  display: none;
}
